@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: #ff0000;
}

::selection {
  background-color: #ff0000;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.main {
  min-height: 100vh;
  position: relative;
}

section {
  padding: 7.9rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  section {
    padding: 3.9rem 0;
  }
}

.container {
  position: relative;
  z-index: 2;
}

.miniTitle {
  font-size: 1rem;
  text-transform: uppercase;
  color: #ff0000;
  letter-spacing: 1.4rem;
}
@media screen and (max-width: 768px) {
  .miniTitle {
    letter-spacing: 1rem;
  }
}
.miniTitle::-moz-selection {
  background: #ff0000;
  color: #fff;
}
.miniTitle::selection {
  background: #ff0000;
  color: #fff;
}

.mainTitle {
  font-size: 12rem;
  text-transform: capitalize;
  -webkit-text-stroke: 1.4px #fff;
  color: #111;
  cursor: default;
  margin-left: -1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media screen and (max-width: 768px) {
  .mainTitle {
    font-size: 2rem !important;
    -webkit-text-stroke: 0;
    color: #fff;
    margin-left: initial;
  }
}

.mainTitles {
  font-size: 5rem;
  text-transform: capitalize;
  font-weight: 700;
  margin-left: -1rem;
}
@media screen and (max-width: 768px) {
  .mainTitles {
    font-size: 2rem !important;
    margin-left: initial;
  }
}

.bodyCopy {
  font-size: 1rem;
}

.dark,
.light {
  position: relative;
}
.dark::before,
.light::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -100;
  width: 100%;
}

.light {
  background: #fff;
}

.dark {
  background: #111;
  color: #fff;
}

.animatedCursor {
  width: 10px;
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ff0000;
  border-radius: 50%;
  z-index: 20000;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.followCursor {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 2px solid #ff0000;
  border-radius: 50%;
  z-index: 10009;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.dots {
  display: flex;
  flex-direction: column;
}
.dots .inner-dots {
  width: 6px;
  height: 6px;
  margin: 0.4rem 0;
  background-color: #ff0000;
  border-radius: 50%;
  opacity: 0.5;
}

.navContainer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: #111;
  z-index: 10000;
  width: 100%;
}
.navContainer .myNav {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 100%;
}
.navContainer .myNav li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.8;
}
.navContainer .myNav li a.active {
  color: #ff0000;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .followCursor, .animatedCursor {
    display: none;
  }
  .navContainer {
    height: 15vh;
  }
  .myNav {
    width: 60% !important;
  }
}
@media screen and (max-width: 1400px) {
  .mainTitle {
    font-size: 8rem;
  }
  .miniTitle {
    font-size: 0.8rem;
    letter-spacing: 1rem;
  }
  .mainTitles {
    font-size: 3rem;
  }
  #services .mainTitles {
    font-size: 2rem !important;
  }
  #services li {
    font-size: 1rem !important;
  }
  #contact .mainTitle {
    font-size: 8rem !important;
  }
}
#about {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
#about .bodyCopy {
  font-size: 1.4rem;
  line-height: 2.4rem;
}
@media screen and (max-width: 768px) {
  #about .bodyCopy {
    line-height: 1.9rem;
    font-size: 1rem;
  }
}
#about .mainTitles {
  font-size: 2rem;
  text-transform: initial;
  width: 30ch;
  margin: 1.5rem 0;
}
@media screen and (max-width: 768px) {
  #about .mainTitles {
    width: initial;
  }
}

#services .mainTitles {
  font-size: 3rem;
  text-transform: initial;
  margin: 1.5rem 0;
}
@media screen and (max-width: 768px) {
  #services .mainTitles {
    font-size: 2rem;
  }
}
#services h5 {
  font-size: 1rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  #services h5 {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  #services .image {
    width: 50px;
    height: auto;
  }
}
#services ul li {
  list-style: none;
  font-size: 1.4rem;
  margin: 1rem 0;
  position: relative;
}
#services ul li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ff0000;
  left: -1.4rem;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  #services ul li {
    font-size: 1rem;
  }
}

.chatButton {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .chatButton {
    right: 1rem;
    bottom: 1rem;
  }
}
.chatButton span {
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.chatButton span a {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .chatButton span {
    width: 50px;
    height: 50px;
  }
}
.chatButton span img {
  width: 100%;
  height: auto;
}
.chatButton .curvedText {
  width: 150px;
  position: absolute;
  left: -2.5rem;
  top: -3rem;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .chatButton .curvedText {
    width: 100px;
    left: -1.5rem;
    top: -2rem;
  }
}

.image {
  width: 100px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .images {
    width: 100px;
    height: auto;
  }
}

.roundImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roundImg .icon {
  width: 60%;
  height: auto;
}

span.mainTitle,
span.mainTitles {
  display: block;
}

a {
  overflow: hidden;
}
a img {
  transition: 0.8s ease-in;
}
a:hover img {
  transform: scale(1.1);
}

.btnCustom {
  text-decoration: none;
  color: #707070;
  position: relative;
  font-size: 1.2rem;
  transition: 0.35s ease-in;
}
.btnCustom::before {
  content: "";
  width: 40px;
  height: 40px;
  background: #707070;
  opacity: 0.1;
  border-radius: 100%;
  position: absolute;
  left: -1rem;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
  transition: 0.35s ease-in;
}
.btnCustom:hover {
  color: #ff0000;
}
.btnCustom:hover::before {
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.propertyLink {
  color: #707070;
  text-decoration: none;
  transition: 0.35s ease-in;
}
.propertyLink:hover {
  color: #ff0000;
  text-decoration: underline;
}

#contact .mainTitle {
  font-size: 12rem;
  text-transform: uppercase;
  -webkit-text-stroke: 1.4px #111;
  color: #fff;
  cursor: default;
}
@media screen and (max-width: 768px) {
  #contact .mainTitle {
    font-size: 3rem !important;
    -webkit-text-stroke: 1.4px #111;
    color: #fff;
  }
}
#contact a span {
  display: block;
}
#contact a {
  color: #707070;
}
#contact .socialMenu {
  display: flex;
  padding-left: 0 !important;
}
#contact .socialMenu li {
  list-style: none;
  margin: 0 1.2rem 0 0;
}

span.d-block {
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */